:root{
    /* Colours */
    --primario: #f09604;
    --secundario: #c3450c;
    --blanco: #ffffff;
    --sombras: 1px 1px 5px var(--blanco);

    /* Fonts */
    --fontPrincipal: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;   /* 1rem = 10px */
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* GLOBALES */

body{
    background-color: var(--primario);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c3450c' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    font-size: 1.6rem;
    line-height: 1.5;
} 


p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fontPrincipal);
    text-transform: uppercase;
    text-shadow: var(--sombras);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* HEADER */
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    /* margin: 1rem 0; */
    filter: contrast(60%) sepia(.9) hue-rotate(360deg) saturate(1400%);    
}

/* NAVEGACION */
.navegacion{
    display: flex;
    justify-content: center;
    background-color: var(--secundario);
    padding: 1rem 0;
    gap: 3rem;
}

.navegacion__enlace{
    font-family: var(--fontPrincipal);
    color: var(--blanco);
    font-size: 2.5rem;
    letter-spacing: .2rem;
    
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--primario);
}

/* FOOTER */
.footer{
    text-align: center;
    background-color: var(--secundario);
    padding: 1rem 0;
    margin-top: 2rem;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer__texto{
    font-family: var(--fontPrincipal);
    letter-spacing: .1rem;
    text-transform: uppercase;
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* PRODUCTOS */
.producto{
    background-color: var(--secundario);
    padding: 1rem;
    border-radius: .5rem;
}

/* .producto__imagen{
    width: 100%;
} */

.producto__nombre,
.producto__precio{
    font-family: var(--fontPrincipal);
    text-align: center;
    line-height: 1.2;
}

.producto__nombre{
    font-size: 2.5rem;
}

.producto__precio{
    font-size: 2rem;
}

/* GRAFICOS */
.grafico{
    min-height: 30rem;
    grid-column: 1/3;
    border: 1rem solid var(--secundario);
    border-radius: .5rem;
}

.grafico--tresRemeras{
    background-image: url(../img/g-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row: 2/3;
}

.grafico--cuatroRemeras{
    background-image: url(../img/g-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row: 6/7;
}

@media (min-width: 768px){
    .grafico--cuatroRemeras{
        background-image: url(../img/g-01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        grid-row: 4/5;
        grid-column: 2/4;
    }    
}

/* NOSOTROS */
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}
@media (min-width: 768px){
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 2rem;
    }
}


.nosotros__contenido p{
    font-size: 1.7rem;
    margin: 4rem 0;
    padding: 0 3rem;
}

.nosotros__imagen{
    background-image: url(../img/muestra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1/2;
}

@media (min-width: 768px){
    .nosotros__imagen{
        grid-column: 2/3;
    }
}

/* BLOQUES */
.comprar{
    margin-top: 4rem;
}

.bloques{
    display: grid;
    margin: 4rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px){
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque{
    text-align: center;
}

.bloque__icono{
    color: var(--blanco);
    font-size: 5rem;
    margin-bottom: .5rem;
}

/* PAGINA PRODUCTO */
.remera__imagen{
    margin: 0 auto;
    display: block;
}

@media (min-width: 768px){
    .remera{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .remera__imagen{
        width: 70% !important; 
        max-height: 50rem !important;
    }
}

@media (min-width: 480px){
    .remera__imagen{
        width: 55%;
        max-height: 40rem;
    }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.formulario__campo{
    border: 1rem solid var(--secundario);
    background-color: var(--primario);
    color: var(--blanco);
    outline: none;
    font-size: 2rem;
    font-weight: 500;
}

.formulario__campo::placeholder{
    color: var(--blanco);
}

.formulario__submit{
    background-color: var(--secundario);
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    color: var(--blanco);
    font-family: var(--fontPrincipal);
    transition: background-color .7s ease;
    grid-column: 1/3;
    width: 80%;
    margin: 0 auto;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: #ca6c07;
}




